<div class="modal" [ngClass]="{'dj-t-active':!isDisabled}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Insert</h5>
        </div>
        <div class="modal-body">
            <form [formGroup]="form">
              <div class="form-group">
                <label for="{{table_text}}">Name:</label>
               <input type="text" class="form-control" name="{{table_text}}" id="{{table_text}}" formControlName="Name" value="{{obj_update.name!=null ? obj_update.name:''}}"/>
               <div *ngIf="form.get('Name')?.hasError('minlength')">
                  <p class="alert alert-danger">Name must have min 3 character</p>
              </div>
                @if(table_text=='brand'){
                  <label for="description">Description:</label>
               <textarea class="form-control" formControlName="Description" name="description" id="description" value="{{obj_update.description!=null? obj_update.description:''}}">
                
               </textarea>
               <div *ngIf="form.get('Description')?.hasError('minlength')">
                <p class="alert alert-danger">Description must have min 20 character</p>
            </div>
                }
              </div>
            <input type="submit" value="Submit" (click)="save(this.obj_update.name!=null ? 'update' : 'insert')" [disabled]="form.invalid" />
        </form>
        @if(errors_array.length>0){
          @for (item of errors_array; track $index) {
            <p class="alert alert-danger">{{item.property}} {{item.error}}</p>
          }
        }
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
