<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="row">
        <div class="col-md-4 static">
            
            <ul class="nav-news-feed">
              <li><i class="fa fa-list-alt icon1"></i><div><a routerLink="/admin-panel/products">Products</a></div></li>
              <li><i class="fa fa-users icon2"></i><div><a routerLink="/admin-panel/users">Users</a></div></li>
              <li><i class="fa fa-user icon3"></i><div><a href="#">Friends</a></div></li>
              <li><i class="fa fa-comments icon4"></i><div><a href="#">Messages</a></div></li>
              <li><i class="fa fa-picture-o icon5"></i><div><a href="#">Images</a></div></li>
              <li><i class="fa fa-video-camera icon6"></i><div><a href="#">Videos</a></div></li>
            </ul><!--news-feed links ends-->
	</div>
</div>