<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="row">
        <div class="col-md-4 static">
            
            <ul class="nav-news-feed">
              <li><i class="fa fa-home"></i><div><a routerLinkActive="active" routerLink="/admin-panel/home">Home</a></div></li>
              <li><i class="fa fa-chevron-right"></i><div><a routerLinkActive="active" routerLink="/admin-panel/brands">Brands</a></div></li>
              <li><i class="fa fa-male icon4"></i><div><a routerLinkActive="active" routerLink="/admin-panel/genders">Genders</a></div></li>
              <li><i class="fa fa-pencil icon5"></i><div><a routerLinkActive="active" routerLink="/admin-panel/colors">Colors</a></div></li>
              <li><i class="fa fa-list-alt icon1"></i><div><a routerLinkActive="active" routerLink="/admin-panel/products">Products</a></div></li>
              <li><i class="fa fa-users icon2"></i><div><a routerLinkActive="active" routerLink="/admin-panel/users">Users</a></div></li>
              
              
            </ul><!--news-feed links ends-->
	</div>
</div>