<head>
    <title>Watches an E-Commerce online Shopping Category Flat Bootstrap Responsive Website Template| Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
   
    <!-- Custom Theme files -->
    <!--webfont-->
    <link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <!-- start menu -->
   
    
    
    </head>
    <div class="banner">
        <div class="container">
            <div class="header_top">
               <div class="header_top_left">
               <div class="box_11"><a routerLink="/cart">
             <h4><p>Cart: <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</p><img src="../../../../assets/images/bag.png" alt=""/><div class="clearfix"> </div></h4>
             </a></div>
             <p class="empty" style="color:whitesmoke">Empty Cart</p>
             <div class="clearfix"> </div>
          </div>
          <div class="header_top_right">
            <ul class="header_user_info">
             <a class="login" routerLink="/login">
               <i class="user"> </i> 
               <li class="user_desc">Login</li>
             </a>
             <div class="clearfix"> </div>
            </ul>
           <!-- start search-->
               
                <!----search-scripts---->
               
                   <!----//search-scripts---->
                   <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
     </div>
     <div class="header_bottom">
      <div class="logo">
         <h1><a routerLink="/home"><span class="m_1">W</span>atches</a></h1>
      </div>
         <app-navigation></app-navigation>
           <div class="clearfix"> </div>
           </div>
       </div>
  </div>