<div class="men">
    <div class="container">
   <div class="col-md-12 single_top">
       <div class="single_left">
         <div class="labout span_1_of_a1">
         <div class="flexslider">
                 <img [src]="'http://localhost:5244' + product.productPictureSrc" width="350px" alt="sat"/>
               </div>
               <div class="clearfix"></div>	
     </div>
     <div class="cont1 span_2_of_a1 simpleCart_shelfItem">
             <h1>{{product.productName}}</h1>
             <p class="availability">Gender: <span class="color">{{product.genderName}}</span></p>
             <div class="price_single">
               <span class="reducedfrom"></span>
               <span class="amount item_price actual">${{product.productPrice}}</span><a href="#">click for offer</a>
             </div>
             <h2 class="quick">Quick Overview:</h2>
             <p class="quick_desc"> {{product.brandDescription}}</p>
             <div class="wish-list">
                  <ul>
                    <h3>Colors</h3>
                    @for (item of product.colors; track $index) {
                      <li class="wish"><a style="color: black;">{{item.name}}</a></li>
                    }
                     
                  </ul>
              </div>
             
             <div class="quantity_box">
                 <ul class="product-qty">
                    <span>Quantity:</span>
                    <input class="form-control" type="number" min="1" value="1" [(ngModel)]="quantity_sing">
                 </ul>
                 <ul class="single_social">
                     <li><a href="#"><i class="fb1"> </i> </a></li>
                     <li><a href="#"><i class="tw1"> </i> </a></li>
                     <li><a href="#"><i class="g1"> </i> </a></li>
                     <li><a href="#"><i class="linked"> </i> </a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
             <a (click)="addToCart(product)" class="btn btn-primary btn-normal btn-inline btn_form button item_add item_1" target="_self">Add to cart</a>
         </div>
         <div class="clearfix"> </div>
     </div>
     <div class="sap_tabs">	
        <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
           <ul class="resp-tabs-list">
                 <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Product Description</span></li>
               
           </ul>				  	 
           <div class="resp-tabs-container">
             <div  aria-labelledby="tab_item-0">
                 <div class="facts">
                   <ul class="tab_list">
                       <li><a>{{product.productDescription}}</a></li>
                   </ul>           
                 </div>
              </div>	
              	
           </div>
         </div>
       </div>
       <div class="sap_tabs">	
        <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
           <ul class="resp-tabs-list">
                 <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Product Specification</span></li>
               
           </ul>				  	 
           <div class="resp-tabs-container">
             <div  aria-labelledby="tab_item-0">
                 <div class="facts">
                   <ul class="tab_list">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">First</th>
                          <th scope="col">Last</th>
                        </tr>
                      </thead>
                      <tbody>
                        @for (item of product.productSpecifications; track $index) {
                          <tr>
                            
                            <td>{{item.specificationName}}</td>
                            <td>{{item.specificationValue}}</td>
                            
                          </tr>
                        }
                      </tbody>
                    </table>
                   </ul>           
                 </div>
              </div>	
              	
           </div>
         </div>
       </div>		
     </div>
  <div class="clearfix"></div>
  <div class="col-md-12">
    <h3 class="m_1">Related Products</h3>
    <div class="wrapper" style="display: flex; justify-content: space-between; align-items: center;">
        <ul class="product col-md-3">
            <li class="product_img"><img src="../../../../assets/images/satovi/CASIO-EFR-564D-1A.jpg" class="img-responsive" alt=""/></li>
            <li class="product_desc">
                <h4><a href="#">quod mazim</a></h4>
                <p class="single_price">$66.30</p>
                <a href="#" class="link-cart">Add to Wishlist</a>
                <a href="#" class="link-cart">Add to Cart</a>
          </li>
            <div class="clearfix"> </div>
        </ul>
        <ul class="product col-md-3">
            <li class="product_img"><img src="../../../../assets/images/satovi/CASIO-EFR-564D-1A.jpg" class="img-responsive" alt=""/></li>
            <li class="product_desc">
                <h4><a href="#">quod mazim</a></h4>
                <p class="single_price">$66.30</p>
                <a href="#" class="link-cart">Add to Wishlist</a>
                <a href="#" class="link-cart">Add to Cart</a>
          </li>
            <div class="clearfix"> </div>
        </ul>
        <ul class="product col-md-3">
            <li class="product_img"><img src="../../../../assets/images/satovi/CASIO-EFR-564D-1A.jpg" class="img-responsive" alt=""/></li>
            <li class="product_desc">
                <h4><a href="#">quod mazim</a></h4>
                <p class="single_price">$66.30</p>
                <a href="#" class="link-cart">Add to Wishlist</a>
                <a href="#" class="link-cart">Add to Cart</a>
          </li>
            <div class="clearfix"> </div>
        </ul>
        <ul class="product col-md-3">
            <li class="product_img"><img src="../../../../assets/images/satovi/CASIO-EFR-564D-1A.jpg" class="img-responsive" alt=""/></li>
            <li class="product_desc">
                <h4><a href="#">quod mazim</a></h4>
                <p class="single_price">$66.30</p>
                <a href="#" class="link-cart">Add to Wishlist</a>
                <a href="#" class="link-cart">Add to Cart</a>
          </li>
            <div class="clearfix"> </div>
        </ul>
    </div>
    
  </div>
 </div>
</div>
<div class="col-md-3 dj-t">
	<app-toast-cart></app-toast-cart>
   </div>