<div class="men">
    <div class="container">
    	<div class="col-md-3 sidebar_men">
			<h3>Keyword</h3>
			<input class="form-control" type="text" name="keyword" id="keyword" #keyword  (blur)="getParams(keyword.value,null,null,null,null)"/>
			 
			<br/>
			<br/>
    	  <h3>Brand</h3>
    	  <ul class="product-categories color">
			<button class="reset-button" (click)="removeParam('brand')">None</button>
			@for (item of brand_items; track $index) {
				<li class="cat-item cat-item-60">
					<input type="radio" name="brand" id="{{item.name}}" value="{{item.id}}" #brand  (change)="getParams(null,$event,null,null,null)">
					<label  for="{{item.name}}">{{item.name}}</label>
				</li>
			}
			
			
		 </ul>
		  <h3>Gender</h3>
    	  <ul class="product-categories color">
			<button class="reset-button" (click)="removeParam('gender')">None</button>
			@for (item of gender_items; track $index) {
				<li class="cat-item cat-item-60">
					<input type="radio" name="gender" id="{{item.name}}" value="{{item.id}}" #gender  (change)="getParams(null,null,$event,null,null)">
					<label  for="{{item.name}}">{{item.name}}</label>
				</li>
			}
		  </ul>
		 
		  <h3>Price</h3>
		  <button class="reset-button" (click)="removeParam('price')">None</button>
    	  <ul class="product-categories"><li class="cat-item cat-item-42"><a class="dj-t-cursor"  [ngClass]="{'dj-t-active':selected_price==='0-100'}" (click)="getParams(null,null,null,'0-100',null)">0$-100$</a></li>
			<li class="cat-item cat-item-60"><a class="dj-t-cursor"  [ngClass]="{'dj-t-active':selected_price==='100-200'}" (click)="getParams(null,null,null,'100-200',null)">100$-200$</a> 
			<li class="cat-item cat-item-63"><a class="dj-t-cursor" [ngClass]="{'dj-t-active':selected_price==='300-400'}" (click)="getParams(null,null,null,'300-400',null)">300$-400$</a> 
			<li class="cat-item cat-item-54"><a class="dj-t-cursor" [ngClass]="{'dj-t-active':selected_price==='500-0'}" (click)="getParams(null,null,null,'500-0',null)">500$+</a> 
			
		  </ul>
		</div>
    	<div class="col-md-8 mens_right">
    		<div class="dreamcrub">
			   	<ul class="breadcrumbs">
                    <li class="home">
                       <a href="index.html" title="Go to Home Page">Home</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="home">&nbsp;
                        Men / Women&nbsp;
                    </li>
                </ul>
                <ul class="previous">
                	<li><a href="index.html">Back to Previous Page</a></li>
                </ul>
                <div class="clearfix"></div>
			   </div>
			   <div class="mens-toolbar">
                 <div class="sort">
               	   <div class="sort-by">
		            <label>Sort By</label>
		            <select class="form-control" #sort (change)="getParams(null,null,null,null,sort.value)" >
						<option value="0">Choose</option>
						<option value="Name A-Z">Name A-Z</option>
						<option value="Name Z-A">Name Z-A</option>
						<option value="Price lower-high">Price lower-high</option>
						<option value="Price high-lower">Price high-lower</option>
		            </select>
		            <a href=""><img src="images/arrow2.gif" alt="" class="v-middle"></a>
                   </div>
    		     </div>
    	        <ul class="women_pagenation dc_paginationA dc_paginationA06">
			     <li><a href="#" class="previous">Page : </a></li>
			     <li class="active"><a href="#">1</a></li>
			     <li><a href="#">2</a></li>
		  	    </ul>
                <div class="clearfix"></div>		
		        </div>
    		<div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
					<div class="cbp-vm-options">
						<a href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid" title="grid">Grid View</a>
						<a href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list" title="list">List View</a>
					</div>
					<div class="pages">   
        	 <div class="limiter visible-desktop">
               <label>Show</label>
                  <select>
                            <option value="" selected="selected">
                    9                </option>
                            <option value="">
                    15                </option>
                            <option value="">
                    30                </option>
                  </select> per page        
               </div>
       	   </div>
					<div class="clearfix"></div>
					<ul>
						
							@for (item of product_items; track $index) {
								<li class=" {{$index%3==0?'last':''}} simpleCart_shelfItem">
									
									
									<a class="cbp-vm-image"  >
									 <div class="view view-first">
										 <div class="inner_content clearfix">
										<div class="product_image">
											<div class="mask1"><img [src]="'http://localhost:5244' + item.productPictureSrc" alt="{{item.productPictureSrc}}">											</div>
											<div class="mask">
												   <div class="info dj-t-cursor"><a (click)="redirectToSinglePage(item.id)">Quick View</a></div>
											 </div>
											 <div class="product_container">
											   <h4>{{ item.productName}}</h4>
											   <p>{{item.brandName}}</p>
											   <div class="price mount item_price">${{item.productPrice}}</div>
											   <a class="button item_add cbp-vm-icon cbp-vm-add" (click)="addToCart(item)">Add to cart</a>
											 </div>		
										  </div>
										 </div>
									  </div>
									</a>
								</li>
							}
							@empty {
								<h3>There are no products</h3>
							}
						
					  
					</ul>
				</div>
                <nav aria-label="...">
                    <ul class="pagination pagination-lg">
                      
					  @for (item of total_pages; track $index) {
						<li class="page-item {{item==currentPage-1?'active':''}}"><a class="page-link dj-t-cursor" (click)="changePagination(item+1)">{{item+1}}</a></li>
					  }
					  
                      
                      
                    </ul>
                  </nav>
				
    	</div>
      
    </div>
   </div>
   <div class="col-md-3 dj-t">
	<app-toast-cart></app-toast-cart>
   </div>
   
