<div class="account-in">
    <div class="container">
      <h3>Account</h3>
    <div class="col-md-12 account-top">
      <form>
        <div> 	
            <span>Email*</span>
            <input type="text"> 
        </div>
        <div> 
            <span class="pass">Password*</span>
            <input type="password">
        </div>				
            <input type="submit" value="Login"> 
       </form>
    </div>
    <div style="margin-top: 20px;">
      <p>If you don't have account, please <a style="color:green" routerLink="/register">Register</a></p>
    </div>
   
    <div class="clearfix"> </div>
  </div>
</div>
